.rw-words{
	display: inline;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	width: 100%;
	font-size: 800%;
	color: transparent;
	text-shadow: 0px 0px 80px rgba(255,255,255,1);
	opacity: 0;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; -ms-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -ms-animation-timing-function: ease-out; -ms-transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg); transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg); transform: translateY(0px) translateZ(0px) rotateY(0deg); }
	6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: #fff; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 2560px){
	.rw-words { left: 95px; top: 171px; }
	.rw-words span { font-size: 750%; }
}
@media screen and (max-width: 1060px){
	.rw-words { left: 95px; top: 171px; }
	.rw-words span { font-size: 250%; }
}
@media screen and (max-width: 400px){
	.rw-words { left: 45px; top: 76px; }
	.rw-words span { font-size: 120%; }
}
@media screen and (max-width: 384px) {
	.rw-words { left: 45px; top: 76px; }
	.rw-words span { font-size: 110%; margin-left: -3% }
}
@media screen and (max-width: 360px) {
	.rw-words { left: 45px; top: 76px; }
	.rw-words span { font-size: 110%; margin-left: -3% }
}
@media screen and (max-width: 320px){
	.rw-words { left: 45px; top: 76px; }
	.rw-words p { font-size: 70%; }
}
